<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    
    <add name="LibraryEntities6" connectionString="metadata=res://*/EntityLibrary.csdl|res://*/EntityLibrary.ssdl|res://*/EntityLibrary.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=Library;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="FinalizedProject.Properties.Settings.LibraryConnectionString"
      connectionString="Data Source=AUNGPAING-PC\AUNGPAING_SERVER;Initial Catalog=Library;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>